<div class="container">
  <div class="container text-center m-30">
    <h2>Guardar Products:</h2>
  </div>
  <form (ngSubmit)="saveProduct()">
    <div class="mb-3">
      <label for="nameProduct" class="form-label">Nombre del Producto:</label>
      <input
        required="true"
        type="nameProducts"
        class="form-control"
        id="nameProduct"
        aria-describedby="nameProduct"
        [(ngModel)]="nameProduct"
        name="nameProduct"
      />
    </div>
    <div class="mb-3">
      <label for="description" class="form-label"
        >Descripcion del Producto:
      </label>
      <input
        required="true"
        type="text"
        class="form-control"
        id="description"
        [(ngModel)]="description"
        name="description"
      />
    </div>
    <div class="mb-3">
      <label for="price" class="form-label">Precio del Producto: </label>
      <input
        required="true"
        type="number"
        class="form-control"
        id="price"
        step="any"
        [(ngModel)]="price"
        name="price"
      />
    </div>
    <div class="mb-3">
      <label for="stock" class="form-label">Stock: </label>
      <input
        required="true"
        type="number"
        class="form-control"
        id="stock"
        [(ngModel)]="stock"
        name="stock"
      />
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-warning">Agregar</button>
      <a href="/" class="btn btn-danger m-3">Regresar</a>
    </div>
  </form>
</div>
